 header{
    background-image: url(/assets/image/resturant4.jpg) !important;
    height:60vh;
    background-size: cover;
    background-position: center center;
   
} 
header .klin{
    text-align: center;
    padding: 10rem;
}
.navbar a{
    color: red;
    font-weight: bold;
}


.navbar .collapse .navbar-nav a{
    margin: 0 1.5rem;
}

.navbar .container .navbar-brand{
    line-height: 0;
    /* border: 2px solid blue; */
    width: 9vw;
}

.navbar .container .navbar-brand .gon{
    text-align: end;
    display: block;
    font-size: small;
    line-height: 0rem;
    font-weight: bold;
    font-style: italic;
}
#slide{
  
    margin-top: 8rem;
}
#slide .clo .carousel-indicators{
    line-height: 0rem;
}

 

#recent .container .row .col-lg-4 .card img{
    height: 30vh;
   
}



#recent .container .col-sm-4 .card .card-body .d-grid a::before{
    font-family: "bootstrap-icons";
    content: "\F31F";
    
}
#recent .container .col-sm-4 .card .card-body .d-grid a::after{
    font-family: "bootstrap-icons";
    content: "\F31F";
}

#the .container .row .col-lg-3 img{
    width: 20vw;
    height: 50vh;
    /* border: 2px solid red; */
    align-items: center;
}  



#the .container .row .col-md-3 .low{
    /* border: 2px solid red; */
    line-height: .2rem;
    
}
#the .container .row .col-md-3 img{
    width: 90vw;
}

#the .you{
    background: rgb(221, 221, 221);
}
/* #post .row{
    background: rgb(235, 224, 224);
} */

#post .klu .container-fluid .row .col-md-4{
   

    /* border: 2px solid red; */
    
}  
#post .klu .container-fluid{
    background: rgb(221, 221, 221);   
}

#post .klu .container-fluid .row .col-lg-4 img{
    height: 45vh;
    


}
#post .klu .container-fluid .row .col-lg-5 img{
    height: 45vh;
    width: 42vw;
    
    
    
}
#post .klu .container-fluid .row .col-md-5{
    /* border: 2px solid red; */

}
#post .klu .container-fluid .row{
    /* border: 2px solid red; */
    justify-content: space-between;
    
}





@media only screen and (max-width:520px){

    header{
        background-image: url(/assets/image/resturant4.jpg) !important;
        height:50vh;
        background-size: cover;
        background-position: center center;
       
    } 
    header .klin{
        text-align: center;
        padding: 9rem;
    }

} 